


@import url("https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;




:root {
  --background: #ffffff;
  --foreground: #232323;
  --color: #232323;
  --color2: #232323;
  --texthover: #9b9b9b;
  --textC: #1E1E1E;
  --social: #f9f9f9;
  --socialT: #1e1e1e;
  --darkGreenColor: #00a859;
}


/* .dark {
  --background: #232323;
  --foreground: #fff;
  --color: #ffffff;
  --color2: #D1D5DB;
  --texthover: #fff;
  --textC: #CCCCCC;
  --social: #1e1e1e;
  --socialT: #f9f9f9;
  
} */

@keyframes fade-in {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-fade-in {
  animation: fade-in 0.3s ease-out;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;       /* Remove the default focus outline */
  box-shadow: none;    /* Remove any browser-specific glow or shadow */
}


/* corevalues */

/* CoreValues */

.cv__container {
  background: var(--blackBg) !important;
  border: 2px solid #4c4c4c;
  border-radius: 1em !important;
  padding: 1em 3em;
  margin: 3em 0;
  display: flex;
  align-items: center;
  justify-content: center;

  h3 {
    font-weight: 600;
    color: #ffffff;
    font-family: var(--fontStyle);
    text-align: center;
  }

  p {
    white-space: nowrap;
  }

  div {
    justify-content: center;
    align-items: center;
  }

  >div {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    gap: 2em;
  }
}

.core__values {
  gap: 1em;

  p {
    color: #1b2c32;
  }

  >div {
    flex-direction: row;

    div {
      background: #ffffff;
      border-radius: 2em;
      padding: 0.3em 0.7em;
    }
  }
}

/* empowerment */

.en__container {
  background: var(--darkGreenColor) !important;
  border: 2px solid #4c4c4c;
  border-radius: 1em !important;
  padding: 1em 3em;
  margin: 2em 0;
  display: flex;
  align-items: center;
  justify-content: center;

  h3 {
    font-weight: 600;
    color: #ffffff;
    font-family: var(--fontStyle);
  }

  p {
    white-space: nowrap;
  }

  div {
    justify-content: center;
    align-items: center;
  }

  >div {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
  }
}

/*whatWeDoBody  */
.what__container {
  display: flex;
  flex-direction: column;
  gap: 1.5em;

  h4 {
    font-size: 29px;
    font-weight: 700;
    font-family: var(--fontStyle);
  }

  p {
    /* font-size: 16px; */
    font-weight: 400;
  }

  a {
    p {
      display: flex;
      align-items: center;
      gap: 0.7em;
      font-weight: 600;
    }
  }

  button {
    font-size: 14px;
    padding: 0.8em 1.5em;
  }

  >div {
    padding: 2em;
    border-radius: 1em;
  }

  >div:first-child {
    background: #fde3b7;
    gap: 2.8em;

    p {
      color: #4c6168;
    }

    div {
      gap: 1em;
      align-items: start;
    }
  }

  >div:nth-child(2) {
    background: #bbfdde;
    gap: 1.5em;

    h6 {
      color: #1b2c32;
      /* font-size: 21px; */
      font-weight: 800;
      font-family: var(--fontStyle);
    }

    >div:first-child {
      background: #ebfef5;
      color: #0e824c;
      width: 150px;
    }

    >div:last-child {
      gap: 1em;

      div {
        display: flex;
        flex-direction: column;
        padding: 1.5em;
        border-radius: 0.8em;
        background: rgba(20, 185, 108, 0.1);
        gap: 1em;
      }
    }
  }

  >div:last-child {
    background: #d0f3ff;

    >div {
      gap: 1em;

      >div {
        padding: 1.5em;
        background: rgba(158, 229, 255, 0.4);
        border-radius: 0.8em;
        display: flex;
        flex-direction: column;
        gap: 1.5em;

        >div:first-child {
          background: #e9f9fe;
          border: 1px solid rgba(0, 175, 239, 0.3);
          color: #1794c2;
          width: 94px;
        }

        >div:last-child {
          flex-direction: row;

          p {
            color: #1b2c32;
            font-weight: 700;
            font-family: var(--fontStyle);
          }

          div {
            gap: 0.5em;
          }
        }
      }
    }
  }
}

.what__paper {
  display: flex;
  justify-content: center;
  border-radius: 2em !important;
  font-family: var(--fontStyle1);
  padding: 0.5em 0;
}

/* EventBody */

.event__container {
  display: flex;
  flex-direction: column;

  gap: 5em;

  >div {
    gap: 2em;
  }
}

.event__upcoming {
  flex-direction: row !important;
  align-items: center;
  flex-wrap: wrap-reverse;

  >div {
    border: 1px solid #e8e8e8;
    width: 77%;
  }

  h4 {
    font-family: var(--fontStyle);
    font-weight: bold;
    font-size: 28px;
  }

  svg {
    color: #727272;
  }

  input {
    font-size: 16px;
    font-weight: 400;
    font-family: var(--fontStyle1);
    padding: 0.5em 0.1em !important;
    /* width: 300px; */

    &::placeholder {
      color: #727272;
    }
  }
}

.event__card {
  background: #201e1e !important;
  border-radius: 1em !important;
}

.event__grid {
  display: flex;
  flex-direction: row !important;
  color: #ffffff;
  padding-left: 10px;
  gap: 2em;
  position: relative;

  >div:first-child {
    content: "";
    border-radius: 1em;
    min-width: 2.5%;
    height: 170px;
  }

  >div {
    gap: 1em;
  }

  p {
    display: flex;
    gap: 0.5em;
    align-items: center;
    /* font-size: 14px; */
    font-family: var(--fontStyle1);
    font-weight: 500;
  }

  h6 {
    font-weight: 500;
    font-family: var(--fontStyle);
  }
}

